@import "../assets/sanitize.css";

:root {
  /* ================ Colors ================ */

  --mainColor: #3083f6;
  --mainColorLight: #c9dbf4;
  --mainColorDark: #123d7b;

  --matterColorDark: #000;
  --matterColorLight: #fff;

  --mainColorLightest: #ecf3fd;

  --matterColorAnti: rgb(142, 141, 141);

  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;

  --font-family: sans-serif;

  /* Shadows */
  --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowTop: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  --boxShadowPopupLight: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --boxShadowBreakdown: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --boxShadowButton: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --boxShadowBig: 0 2px 20px 0 rgba(0, 0, 0, 0.15);

  /* ================ Transition styles ================ */

  --transitionStyle: ease-in 0.3s;
  --transitionStyleButton: ease-in-out 0.1s;

  /* ================ Media ================ */

  --viewportSmall: (min-width: 550px);
  --viewportMedium: (min-width: 768px);
  --viewportLarge: (min-width: 1024px);
  --viewportLargeWithPaddings: (min-width: 1128px);
  --viewportLargeWithPaddingsSearch: (min-width: 1268px);
  --viewportXLarge: (min-width: 1921px);
}

/* ================ Global element styles ================ */

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  color: var(--matterColorDark);
  background-color: var(--matterColorLight);
}

::selection {
  background: var(--mainColor); /* WebKit/Blink Browsers */
  color: var(--matterColorLight);
}

::-moz-selection {
  background: var(--mainColor); /* Gecko Browsers */
  color: var(--matterColorLight);
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* ================ Normalisations ================ */

html,
body {
  height: 100%;
}


html {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  /* No margins for default font */

  @media (--viewportMedium) {
    font-size: 16px;
    line-height: 32px;
  }

  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

legend,
label {
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2px;
  }
}

a {
  text-decoration: none;
}

#root {
  background-color: rgb(222, 239, 246);
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
}

.mainWrapper {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}


.circle {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: var(--mainColor);
  border-radius: 50%;
  pointer-events: none;
}

.circle.sm {
  width: 10px;
  height: 10px;
}

.circle.md {
  width: 30px;
  height: 30px;
}

.circle.lg {
  width: 50px;
  height: 50px;
}
