@import '../sanitize.css';
@import './customMediaQueries.css';
@import './propertySets.css';


:root {
  /* ================ Colors ================ */

  --mainColor: #3083f6;
  --mainColorLight: #80b2f8;
  --mainColorDark: #123d7b;

  --matterColorDark: #000;
  --matterColorLight: #fff;

  --matterColorAnti: rgb(142, 141, 141);


  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;

  --font-family: sans-serif;

   /* Shadows */
   --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
   --boxShadowTop: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
   --boxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
   --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
   --boxShadowPopupLight: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
   --boxShadowBreakdown: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
   --boxShadowButton: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
   --boxShadowListingCard: 0 0 50px 0 rgba(0, 0, 0, 0.1);
   --boxShadowNotFoundPageSearch: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   --boxShadowSectionLocationHover: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
   --boxShadowBottomForm: 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
   --boxShadowFilterButton: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
   --boxShadowBig: 0 2px 20px 0 rgba(0, 0, 0, 0.15);

  /* ================ Transition styles ================ */

  --transitionStyle: ease-in 0.3s;
  --transitionStyleButton: ease-in-out 0.1s;

}

/* ================ Global element styles ================ */

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased; /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  -moz-osx-font-smoothing: grayscale; /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  text-rendering: optimizeSpeed;
  color: var(--matterColorDark);
  background-color: var(--matterColorLight);
}

::selection {
  background: var(--mainColor); /* WebKit/Blink Browsers */
  color: var(--matterColorLight);
}

::-moz-selection {
  background: var(--mainColor); /* Gecko Browsers */
  color: var(--matterColorLight);
}

a {
  @apply --defaultLinkStyles;
}

h1 {
  @apply --defaultH1FontStyles;
}
h2 {
  @apply --defaultH2FontStyles;
}
h3 {
  @apply --defaultH3FontStyles;
}
h4 {
  @apply --defaultH4FontStyles;
}
h5 {
  @apply --defaultH5FontStyles;
}
h6 {
  @apply --defaultH6FontStyles;
}

input,
textarea,
select,
li {
  @apply --defaultDefaultFontStyles;
  line-height: 32px;
}

p,
pre {
  @apply --defaultBodyFontStyles;
}

/* ================ Normalisations ================ */

html {
  @apply --defaultDefaultFontStyles;
  color: var(--matterColor);
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

legend,
label {
  @apply --defaultH5FontStyles;
  display: block;
  margin-top: 0;
  margin-bottom: 0;

@media (--viewportMedium) {
  margin-top: 0;
  margin-bottom: 0;
  /*padding-top: 6px;*/
  padding-bottom: 2px;
}
}

button {
  font-family: var(--font-family);
}

select {
  @apply --defaultSelectStyles;
}

input {
  @apply --defaultInputStyles;
}

textarea {
  @apply --defaultInputStyles;

  /* Todo: All textareas are using auto-sizing extension which currently calculates required space incorrectly when box-sixing is "border-box" */
  box-sizing: content-box;
  padding: 0 0 10px 0;

&::placeholder {
   padding: 0 0 10px 0;
 }

@media (--viewportMedium) {
  padding: 4px 0 10px 0;
}
}

