@import '../../styles/propertySets.css';

.root {
    padding: 25px;
    background-color: #fff;
    flex-wrap: wrap;
    & .name {
      margin-bottom: 15px;
    }
  
    & .item {
  
      &.md {
        width: 50%;
      }
  
      &.xl {
        width: 100%;
      }
  
      &.bold {
        font-weight: 700;
        font-size: 15px;
      }
    }
  }